<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
      <th>Wind Direction</th>
<div>
          <img src="https://cdn.glitch.com/3ba5fd23-b744-4e70-ac0e-ce57a580b9dc%2FIMG_8772.JPG?v=1629148482829" width="500", height="auto" alt="" style="border: 0.5px inset lightblue;"/>
</div>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          {{windDirection}}
        </td>
        <td>
          <a href="/reading/{{../station.id}}/editreading/{{id}}" class="ui icon button">
            <i class="pencil alternate icon"></i>
          </a>
        </td>
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
            <i class="trash alternate outline icon"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
